#login_section
{
    margin-top: 50px;
    padding-top: 20px;
    height: 300px;
    box-shadow: 10px 10px 20px gray;
}
.login
{
    text-align: center;
}
#account_section
{
    display: none;
    margin-top: 50px;
}
.dip
{
    background-color: rgb(10, 75, 128);
}
.wit
{
    background-color: crimson;
}
.bal
{
    background-color: rgb(78, 170, 3);
}
.dip, .wit, .bal
{
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 15px gray;
}
.deposit, .withdraw
{
    margin: 10px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}
.deposit button, .withdraw button
{
    margin-top: 10px;
}
.transition
{
    margin: 50px 0px;
}
#not_enough_balance
{
    margin: 100px;
    padding-top: 10px;
    height: 180px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 20px 40px red;
    display: none;
}